<div class="row">
  <div class="vendor-header">
    <h3>
      <a href="vendors/{{vendors.name}}">{{vendor.name}}</a>
    </h3>
  </div>

  <div class="small-12 medium-5 columns alpha">
    <img src="<%= lorem.image('350x250') %>" alt="">  
  </div>

  <div class="small-12 medium-7 columns alpha">
    <p class="vendor-description">
      {{vendor.description}}
    </p>
    <ul class="vendor-categories">
      <li class="vendor-category" ng-repeat="categories in vendor.categories">
        {{categories}}
      </li>
    </ul>
  </div>        

  <div class="vendor-availability small-12 medium-3 columns end">
    <a href="{{driveList.items[0].alternateLink}}">availability</a> 
  </div>
</div>      
           
<div class="row">
  <div class="image-gallery">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 vendor-image-list">
      <li class="vendor-image" ng-repeat="image in vendor.images">
        <img src="{{image}}" alt="vendor image">        
      </li>
    </ul>
  </div>
</div>