// topbar navigation

.top-bar {
  height: 6rem;
  background-color: $dark-brand;
  border-bottom: 0.25rem solid $brand-color;
}

.branding {
  a > img {
    width: 9rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline-block;
    float: left;
  }
  h3 {
    display: inline-block;
    color: $white;
    font-weight: $light-text;
    margin-left: 1rem;
    span.bold {
      font-weight: $heavy-text;
    }
  }
}