---
title: Great Green Sources
---

<div class="container">
  <!-- sidebar menu -->
  <div class="small-12 medium-4 left">
    <img src="http://www.placehold.it/500x500" alt="" class="branding-sidebar">
    <ul class="menu">
      <li class="menu-item">
        <a href="vendors">Vendors</a>
      </li>
      <li class="menu-item">
        <a href="about">About</a>
      </li>
      <li class="menu-item">
        <a href="mailto:kris@greatgreensources.com">
          Email Kris
        </a>
      </li>
    </ul>
  </div>
  <!-- view container -->
  <div class="small-12 medium-8 columns right">
    
    <div ng-view></div>

  </div>
</div>