<div class="vendor-filter small-12 columns">
  <input class="small-12 medium-6 columns" ng-model="searchText" placeholder="Search">
  <select class="small-12 medium-6 columns" ng-model="catList" ng-options="label for label in categories">
    <option value="" default selected>Category</option>
  </select>
</div>


<ul class="medium-block-grid-3">
  <li class="vendors" ng-repeat="vendors in vendorList | filter:searchText | filter:catList | filter:stateList">
    <div class="vendor">
      <h3 class="vendor-title">{{vendors.name}}</h3>
      <p class="vendor-description">
        {{vendors.description}}
      </p>
      <ul class="vendor-categories">
        <li class="vendor-category" ng-repeat="categories in vendors.categories">
          {{categories}}
        </li>
      </ul>
      <p>
        {{vendors.state}}
      </p>
    </div>
  </li>
</ul>